@model ShoesProject.Models.ShoesModel
@{
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script src="~/plugin/plugin/ckeditor/ckeditor.js"></script>
<form action="AddProduct" method="post" enctype="multipart/form-data">
    <!--Header-part-->
    <div id="header">
        <h1>
            <a href="dashboard.html">Admin</a>
        </h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <!--sidebar menu-->


    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="Index" title="Go to Home"
                   class="tip-bottom"><i class="icon-home"></i> Home &nbsp; ></a> <a href="Index" class="tip-bottom">Product &nbsp; ></a> <a href="#" class="current">New Product</a>
            </div>
            <h1>Create new product</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Basic Information</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Name :</label>
                                    <div class="controls">
                                        <input type="text" class="span11" name="name"
                                               placeholder="Text..." required />
                                    </div>
                                </div>
                               
                                <div class="control-group">
                                    <label class="control-label">Material: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="material" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"> Brand:</label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="brand" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price old: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="pricebefore" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price new: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="price" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Date :</label>
                                    <div class="controls">
                                        <input type="date" class="span11" name="date"
                                               required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Manufactory :</label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="manufactory" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Category: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="category" placeholder="Text..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Check quality: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="checkquality" placeholder="Text..." required />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Description</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Width: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="width" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Height:</label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="height" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Depth: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="depth" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"> Weight:</label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="weight" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Description: </label>
                                    <div class="controls">
                                        <textarea class="span11" rows="5"
                                                  name="description"
                                                  placeholder="Enter new description..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="span6 option_span">
                    <div class="widget-box">

                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Image of product</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <img id="blah" src="" alt="your image">
                            <p id="imgInfo" style="padding-left: 15px">You have no image!</p>
                            <br />
                            <input type="file" id="imgInp" name="file[0]" required><br />
                        </div>
                        <input type="hidden" name="numoption" value="1" id="num_option"/>
                        <div class="option_div">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class="icon-align-justify"></i>
                                </span>
                                <h5 style="display: inline-block">Option</h5>
                                <button onclick="createOptionHTML()" style="margin-top: 5px; float: right; margin-right: 5px; width: 24px; border: 1px solid #27a9e3; border-radius: 3px; color: #27a9e3; background: white ">+</button>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label">Color: </label>
                                        <div class="controls">
                                            <input type="text" class="span11"
                                                   name="coloroption1" placeholder="Color..." required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Size:</label>
                                        <div class="controls">
                                            <input type="number" class="span11"
                                                   name="sizeoption1" placeholder="Number..." required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Price: </label>
                                        <div class="controls">
                                            <input type="number" class="span11"
                                                   name="priceoption1" placeholder="Number..." required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Quantity: </label>
                                        <div class="controls">
                                            <input type="number" class="span11"
                                                   name="quantityoption1" placeholder="Number..." required />
                                        </div>
                                    </div>
                                </div>
                                <img id="blahOp" class="blahOp" src="" alt="your image">
                                <p id="imgInfoOp" class="imgInfoOp" style="padding-left:15px">You have no image!</p>
                                <br />
                                <input type="file" id="imgInpOp" name="file[1]" class="imgInpOp" required><br />
                            </div>
                        </div>


                    </div>
                </div>

                <div class="span6" style="margin-left: 0; width:100%;">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Description</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <textarea id="editor" name="details">
                            
                            </textarea>
                        </div>

                        <div class="widget-title">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5>Form Elements</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">

                                <div class="control-group">
                                    <label class="control-label">Status of product</label>
                                    <div class="controls">
                                        <select name="status">
                                            <option selected>AVAILABLE</option>
                                            <option>COMING SOON</option>
                                            <option>OUT OF STOCK</option>
                                        </select>
                                        <hr>
                                        <div class="container">
                                            <!-- Button to Open the Modal -->
                                            <button type="submit" class="btn btn-success" id="submit">
                                                Create
                                            </button>

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script>
    CKEDITOR.replace('editor')
</script>
<script src="~/Scripts/Admin/jquery.min.js"></script>
<script src="~/Scripts/Admin/jquery.ui.custom.js"></script>
<script src="~/Scripts/Admin/bootstrap.min.js"></script>
<script src="~/Scripts/Admin/bootstrap-colorpicker.js"></script>
<script src="~/Scripts/Admin/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Admin/jquery.toggle.buttons.js"></script>
<script src="~/Scripts/Admin/masked.js"></script>
<script src="~/Scripts/Admin/jquery.uniform.js"></script>
<script src="~/Scripts/Admin/select2.min.js"></script>
<script src="~/Scripts/Admin/matrix.js"></script>
<script src="~/Scripts/Admin/matrix.form_common.js"></script>
<script src="~/Scripts/Admin/wysihtml5-0.3.0.js"></script>
<script src="~/Scripts/Admin/jquery.peity.min.js"></script>
<script src="~/Scripts/Admin/bootstrap-wysihtml5.js"></script>
<script type="text/javascript">
    let numOption = document.querySelector('#num_option')
    let form = document.querySelector('form');
    let numOp = 1;
    form.onsubmit = (e) => {
        let smt = e.submitter;
        console.log(smt)
        console.log(smt.id)
        if (smt.id == "submit") return true;
        else return false;
    }

    $('#blah').hide();
    $("#imgInfo").show();
    let imgs = $('.blahOp');
    for (let i = 0; i < imgs.length;i++) {
        imgs[i].style.display = 'none';
    }

    let imgInpOp = document.querySelectorAll('.imgInpOp');
    let images = document.querySelectorAll('.blahOp');
    let imgInfo = document.querySelectorAll('.imgInfoOp');

    function readURL(input, img, imgInfo) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img.src = e.target.result;
            }
            img.style.display = 'inline';
            imgInfo.style.display = 'none';
            reader.readAsDataURL(input.files[0]);
        }
    }

    function addEventImage() {
        imgInpOp = document.querySelectorAll('.imgInpOp');
        images = document.querySelectorAll('.blahOp');
        imgInfo = document.querySelectorAll('.imgInfoOp');

        for (let i = 0; i < imgInpOp.length; i++) {
            imgInpOp[i].onchange = function () {
                readURL(imgInpOp[i], images[i], imgInfo[i]);
            }
        }
    }

    addEventImage();

    $("#imgInp").change(function () {
        readURL(document.querySelector('#imgInp'), document.querySelector('#blah'), document.querySelector("#imgInfo"));
    });
    let option_span = document.querySelector('.option_span .widget-box')
    function createOptionHTMLString(num) {
        let optionHTML = `<div class="option_div"><div class="widget-title option_shoe">
                            <span class="icon">
                                <i class="icon-align-justify"></i>
                            </span>
                            <h5 style="display: inline-block">Option</h5>
                            <button onclick="deleteOptionHTML(this)" style="margin-top: 5px; float: right; margin-right: 5px; width: 24px; border: 1px solid red; color: red; border-radius: 3px; background: white ">-</button>
                            <button onclick="createOptionHTML()" style="margin-top: 5px; float: right; margin-right: 5px; width: 24px; border: 1px solid #27a9e3; border-radius: 3px; color: #27a9e3; background: white ">+</button>
                        </div>
                        <div class="widget-content nopadding option_shoe">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Color: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"
                                               name="coloroption`+ num +`" placeholder="Color..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Size:</label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="sizeoption`+num+`" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Price: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="priceoption`+num+`" placeholder="Number..." required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Quantity: </label>
                                    <div class="controls">
                                        <input type="number" class="span11"
                                               name="quantityoption`+ num +`" placeholder="Number..." required />
                                    </div>
                                </div>
                            </div>
                            <img class="blahOp" src="#" alt="your image" style="display: none">
                            <p class="imgInfoOp" style="padding-left:15px">You have no image!</p>
                            <br />
                            <div class="uploader" id="uniform-imgInpOp"><input type="file" name="file[`+num+`]" class="imgInpOp" required="" size="19" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div><br />
                        </div></div>`
        return optionHTML;

    }
    
    function createOptionHTML() {
        numOp++;
        $('.option_span .widget-box').append(createOptionHTMLString(numOp));
        addEventImage();
        numOption.value = numOp;
    }

    function deleteOptionHTML(e) {
        let p = e.parentElement.parentElement;
        p.remove();
        numOp--;
        numOption.value = numOp;
        reloadOption();
    }

    function reloadOption() {
        let listOp = document.querySelectorAll('.option_div')
        for (let i = 0; i < listOp.length; i++) {
            let listInp = listOp[i].querySelectorAll('input')
            listInp[0].name = 'coloroption' + (i + 1)
            listInp[1].name = 'sizeoption' + (i + 1)
            listInp[2].name = 'priceoption' + (i + 1)
            listInp[3].name = 'fileimgoption' + (i + 1)
        }
    }



</script>
<script>
    $('.textarea_editor').wysihtml5();
    $("#myBtn").click(function () {
        $("#myModal").modal("show");
    })
    $("#productMenu").attr('class', 'active');
    
</script>